*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    float: left;
}

.logo{
    width: 8%;
    float: left;
    height: 70px;
    box-sizing: border-box;
}

.menu{
    float: left;
    list-style: none;
    padding: 0;
    margin: auto;
    height: 70px;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    min-width: 92%;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
}

.menu li a:hover{
    border-radius: 0px;
    background: #5a9aae;
    box-shadow: inset 41px 41px 82px #4b8090,
            inset -41px -41px 82px #69b4cc;
    width: auto;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.image{
    text-align: center;
}

.image img{
    margin-top: 20px;
    width: 200px;
}

.completar{
    margin-top: 12px;
    border-radius: 0px;
    background: #f2f2f2;
    box-shadow: inset 12px 12px 95px #616161,
            inset -12px -12px 95px #ffffff;
}

.infor1{
    display: flex;
    margin-left: 30px;
}

.infor1 label{
    font-family: cursive;
    margin-left: 10px;
}

.infor1 img{
    width: 25px;
    height: 25px;
}

.infor input{
    margin-left: 30px;
    border: 2px solid #5a9aae;
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #cecece,
            inset -5px -5px 10px #ffffff;
    width: 500px;
    height: 30px;
}

.boton{
    text-align: center;
}

.boton font{
    color: #c7c7c7;
    font-size: 40px;
    font-family: cursive;
}

.boton button{
    text-align: center;
    border: 2px solid #67a219;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
}

.generador p{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    color: #67a219;
}

.coti1 input{
    margin-left: 450px;
    width: 250px;
    height: 50px;
    border: 2px solid #5a9aae;
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #cecece,
            inset -5px -5px 10px #ffffff;
}

.coti1 label{
    text-align: center;
    margin-left: 30px;
    font-family: cursive;
}

/*Aquí inicia todo el footer de la pagina web*/
footer{
    width: 100%;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1600;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

/*Manejara toda la parte de la izquierda del footer*/
.colum1{
    max-width: 400;
    text-align: center;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

/*Manejara toda la parte del centro del footer*/
.colum2{
    max-width: 400;
}

.colum2 h1{
    font-size: 22px;
}

.fila{
    margin-top: 20px;
    display: flex;
}

.fila img{
    width: 40px;
    height: 40px;
}

.fila label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila1{
    margin-top: 20px;
    display: flex;
}

.fila1 img{
    width: 40px;
    height: 30px;
}

.fila1 label{
    margin-top: 5px;
    margin-left: 20px;
    color: #c7c7c7;
}

/*Manejara toda la parte de la derecha del footer*/
.colum3{
    max-width: 400;
}

.colum3 h1{
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 50px;
    height: 50px;
}

.fila2 label{
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila21{
    margin-top: 20px;
    display: flex;
}

.fila21 img{
    margin-left: 15px;
    width: 25px;
}

.fila21 label{
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila22{
    margin-top: 20px;
    display: flex;
}

.fila22 img{
    width: 50px;
    height: 30px;
}

.fila22 label{
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

/*Footer final*/
.container-footer{
    max-width: 1600px;
    margin: auto;
    width: 100%;
    border-radius: 0px;
    border-radius: 0px;
    background: #487114;
    box-shadow: inset 20px 20px 40px #304b0d,
            inset -20px -20px 40px #60971b;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-left: 50px;
    text-align: center;
    color: #c7c7c7;
}

.information{
    margin-top: 10px;
    margin-right: 50px;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}