*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

label{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.container{
    max-width: 100%;
    display: grid;
    max-width: auto;
    grid-gap: 0px;
    grid-template-areas: "logo menu menu"
                        "nav nav nav"
                        "footer footer footer"
                        "container-footer container-footer container-footer";
    grid-template-columns: 7.8425% 46.09375% 46.09375%;
    grid-template-rows: 57px 2500px auto 0px;
}

.logo{
    grid-area: logo;
    justify-content: center;
}

.logo img{
    grid-area: logo;
    width: 100px;
    height: 70px;
    box-sizing: border-box;
}

.menu{
    text-align: center;
    grid-area: menu;
    list-style: none;
    padding: 0;
    margin: auto;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    min-width: 100%;
}

.menu li a{
    grid-area: menu;
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
}

.menu li a:hover{
    grid-area: menu;
    border-radius: 0px;
    background: #5a9aae;
    box-shadow: inset 41px 41px 82px #4b8090,
            inset -41px -41px 82px #69b4cc;
    width: auto;
}

.menu li{
    margin-right: 80px;
    grid-area: menu;
    display: inline-block;
}

.image{
    grid-area: logo;
    margin-top: 50px;
    text-align: center;
}

.image h1{
    grid-area: logo;
    color: #67a219;
    font-size: 40px;
}

.image img{
    grid-area: logo;
    width: 200px;
}

/*Aquí empieza la navegación*/
.nav{
    grid-area: nav;
    margin-top: 12px;
    border-radius: 0px;
    justify-content: center;
    background: #f2f2f2;
    box-shadow: inset 12px 12px 95px #f2f2f2,
            inset -12px -12px 95px #ffffff;
}

.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#info12{
    
}

.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 25px 25px;
    padding: 10px 10px;
    border-radius: 50px;
background: #217365;
box-shadow:  20px 20px 60px #1c6256,
             -20px -20px 60px #268474;
}

.infor{
    grid-area: nav;
    margin-top: 50px;
    text-align: center;
}

.infor1{
    grid-area: nav;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin: 50px;
}

.infor1 label{
    grid-area: nav;
    margin-left: 10px;
}

.infor1 img{
    grid-area: nav;
    width: 25px;
    height: 25px;
}

.infor input{
    grid-area: nav;
    margin-left: 30px;
    border: 2px solid #5a9aae;
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #cecece,
            inset -5px -5px 10px #ffffff;
    width: 500px;
    height: 30px;
    padding-left: 10px;
}

.boton{
    grid-area: nav;
    text-align: center;
    
}

.boton font{
    grid-area: nav;
    color: #c7c7c7;
    font-size: 40px;
}

.boton{
    grid-area: nav;
    padding: 10px;
    border-radius: 500px;
    text-align: center;
    border: 2px solid #67a219;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
}

.boton:hover{
    color: red;
}

.generador h2{
    grid-area: nav;
    text-align: center;
    font-size: 40px;
    color: #67a219;
}

.corti-imput{
    grid-area: nav;
}

.coti1 input{
    grid-area: nav;
    margin-left: 450px;
    justify-content: center;
    width: 250px;
    height: 50px;
    border: 2px solid #5a9aae;
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #cecece,
            inset -5px -5px 10px #ffffff;
}

.coti1 label{
    grid-area: nav;
    text-align: center;
    margin-left: 30px;
}

/*Aquí inicia todo el footer de la pagina web*/
footer{
    grid-area: footer;
    width: 100%;
    border-radius: 0px;
    justify-content: center;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    color: white;
}

.container-footer-all{
    grid-area: footer;
    /*width: 100%;
    max-width: 1600;*/
    margin: auto;
    padding: 20px;
}

.container-body{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
}

footer h2{
    grid-area: footer;
    color: white;
}

/*Manejara toda la parte de la izquierda del footer*/
.colum1{
    grid-area: footer;
    max-width: 400px;
    text-align: center;
}

.colum1 h1{
    grid-area: footer;
    font-size: 22px;
}

.colum1 p{
    grid-area: footer;
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 30px;
}

/*Manejara toda la parte del centro del footer*/
.colum2{
    grid-area: footer;
    max-width: 400;
}

.colum2 h1{
    grid-area: footer;
    font-size: 22px;
}

.fila{
    grid-area: footer;
    margin-top: 20px;
    display: flex;
}

.fila img{
    grid-area: footer;
    width: 40px;
    height: 40px;
}

.fila label{
    grid-area: footer;
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila1{
    grid-area: footer;
    margin-top: 20px;
    display: flex;
}

.fila1 img{
    grid-area: footer;
    width: 40px;
    height: 30px;
}

.fila1 label{
    grid-area: footer;
    margin-top: 5px;
    margin-left: 20px;
    color: #c7c7c7;
}

/*Manejara toda la parte de la derecha del footer*/
.colum3{
    grid-area: footer;
    max-width: 400;
}

.colum3 h1{
    grid-area: footer;
    font-size: 22px;
}

.fila2{
    grid-area: footer;
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    grid-area: footer;
    width: 50px;
    height: 50px;
}

.fila2 label{
    grid-area: footer;
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila21{
    grid-area: footer;
    margin-top: 20px;
    display: flex;
}

.fila21 img{
    grid-area: footer;
    margin-left: 15px;
    width: 25px;
}

.fila21 label{
    grid-area: footer;
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

.fila22{
    grid-area: footer;
    margin-top: 20px;
    display: flex;
}

.fila22 img{
    grid-area: footer;
    width: 50px;
    height: 30px;
}

.fila22 label{
    grid-area: footer;
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}

/*Footer final*/
.container-footer{
    grid-area: container-footer;
    max-width: 100%;
    margin: auto;
    width: 100%;
    margin-top: auto;
    border-radius: 0px;
    border-radius: 0px;
    background: #487114;
    box-shadow: inset 20px 20px 40px #304b0d,
            inset -20px -20px 40px #60971b;
    display: flex;
    justify-content: space-between;
}

.copyright{
    grid-area: container-footer;
    margin-left: 50px;
    text-align: center;
    color: #c7c7c7;
}

.information{
    grid-area: container-footer;
    margin-top: 10px;
    margin-right: 50px;
}

.information a{
    grid-area: container-footer;
    text-decoration: none;
    color: #c7c7c7;
}