@font-face {
    font-family: 'flexslider-icon';
    src: url('slider-responsive/fonts/flexslider-icon.eot');
    src: url('slider-responsive/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('slider-responsive/fonts/flexslider-icon.woff') 
    format('woff'), url('slider-responsive/fonts/flexslider-icon.ttf') format('truetype'), url('slider-responsive/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
.header img{
    float: left;
}

.logo{
    width: 8%;
    float: left;
    height: 70px;
    box-sizing: border-box;
}

.menu{
    float: left;
    list-style: none;
    padding: 0;
    margin: auto;
    height: 70px;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    min-width: 92%;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
}

.menu li a:hover{
    border-radius: 0px;
    background: #5a9aae;
    box-shadow: inset 41px 41px 82px #4b8090,
            inset -41px -41px 82px #69b4cc;
    width: auto;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.tcontactanos{
    color:rgb(103, 162, 25);
    text-align: center;
}

.men{
    text-align: center;
}

.completar{
    text-align: center;
    border-radius: 0px;
    background: #f2f2f2;
    box-shadow:  20px 20px 60px #b3b3b3,
             -20px -20px 60px #ffffff;
}

.formul input{
    border-radius: 5px;
    background: #f2f2f2;
    box-shadow: inset -14px -14px 23px #e3e3e3,
            inset 14px 14px 23px #ffffff;
            border-style: none;
}

.formul textarea{
    border-radius: 5px;
    background: #f2f2f2;
    box-shadow: inset -14px -14px 23px #e3e3e3,
            inset 14px 14px 23px #ffffff;
            border-style: none;
}

.formul2{
    text-align: center;
}

.formul2 a{
    color: blue;
    list-style: none;
}

button{
    border-radius: 0px;
    background: #0B8C8C;
    box-shadow: inset 14px 14px 28px #096b6b,
            inset -14px -14px 28px #0fadad;
}


footer{
    width: 100%;
    border-radius: 0px;
    background: #67a219;
    box-shadow: inset 14px 14px 28px #507e14,
            inset -14px -14px 28px #7ec61f;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1600;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}


.colum1{
    max-width: 400;
    text-align: center;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400;
}

.colum2 h1{
    font-size: 22px;
}

.fila{
    margin-top: 20px;
    display: flex;
}

.fila img{
    width: 25px;
    height: 25px;
}

.fila label{
    margin-top: 5px;
    margin-left: 20px;
    color: #c7c7c7;
}

.colum3{
    max-width: 400;
}

.colum3 h1{
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 25px;
}

.fila2 label{
    margin-top: 10px;
    max-width: 200px;
    margin-left: 20px;
    color: #c7c7c7;
}


.container-footer{
    max-width: 1600px;
    margin: auto;
    width: 100%;
    background: #98a62e;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-left: 50px;
    text-align: center;
    color: #c7c7c7;
}

.information{
    margin-top: 10px;
    margin-right: 50px;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}
.flexslider{
    width:100%;
    position: relative;
}
.slides{
    width:100%;
    overflow: hidden;
}
.slides img{
    width: 100%;
    height: 500px;
}
.slides,.flex-control-nav,.flex-direction-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-control-nav{
    width: 100%;
    text-align: center;
}
.flex-control-nav>li{
    display: inline-block;
    margin: 0 6px;
}
.flex-control-nav>li>a{
    display: block;
    background-color: #5B98A6;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
}
.flex-control-nav>li>a:hover{
    background-color: #0B8C8C;
}
.flex-control-nav>li>a.flex-active{
    background-color: #0B8C8C;
}
.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev{
    left: 0;
}
.flex-direction-nav .flex-next{
    right: 0;
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: #fff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  .flex-direction-nav a.flex-next:before {
    content: '\f002';
  }
  
  .flex-caption p{
      font-family: Lato;
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
      font-size: 45px;
      color: #fff;
      font-weight: bold;
  }
  
  .flexslider:hover .flex-direction-nav .flex-prev{
      opacity: 0.7;
      left: 10px;
  }
  
  .flexslider:hover .flex-direction-nav .flex-prev:hover{
      opacity: 1;
  }
  
  .flexslider:hover .flex-direction-nav .flex-next{
      opacity: 0.7;
      right: 10px;
  }
  
  .flexslider:hover .flex-direction-nav .flex-next:hover{
      opacity: 1;
  }

  .container-inicio{
    display: grid;
    max-width: auto;
    margin: 0;
    grid-gap: 10%;
    grid-template-areas:  "header header "
                          "nav nav"
                          "lml"
                          "left right"
                          "footer footer";
    
    grid-template-columns: 45% 45%;
    grid-template-rows:  300px 300px;
  }
  .quien{
    width:90%;
    height:500px;
    margin-bottom: 200px;
  }
  .conoce{
      margin-left: 45%;
      margin-top: 60px;
      margin-bottom: 60px;
  }
  .quien h1{
    text-decoration: bold;
    margin-top: 60px;
    text-align: center;
  }
  .quien p{ 
    margin-left: 30px;
    text-align:center;
    font-size:  20px;

  }
  
  .container-inicio nav{
      width: 90%;
      text-align: center;
      margin-top: 60px;
  }
  .container-inicio nav h2{
    color: #5B98A6;
    text-align: center;

  }
  .container-inicio nav p{
    text-align: center;
    margin-left: 30px;
  }
  .vision{
    width: 90%;
    text-align: center;
    margin-top: 60px;
}
  .vision h2{
    color: #5B98A6;
    text-decoration: bold;
    text-align: center;
  }
  .vision p{
    text-align: center;
  }
  .lml{
    width: 100%;
    height: 450px;
    text-align: center;
  }
  .lml h2{
    color: #6fa61c;
    text-align: center;
    font-size:50px;
  }
  .lml h2{
    text-align: center;
  }
  .lml p{
      width: 90%;
      font-size: 20px;
      text-align: center
  }
  .propiedades{
    display: grid;
    max-width: auto;
    margin: 0;
    grid-gap: 10%;
    grid-template-areas:  "header header "
                          "nav nav";
    grid-template-columns: 45% 45%;
    grid-template-rows:  30px 400px;
}
.propiedades h1{
    grid-area: header;
    color:#6fa61c;
    margin-left: 30px;
    font-size: 30px;
}

.propiedades img{
    margin-right: 5px;
    margin-left: 40px;
    width: 25px;
    height: 25px;
}
.utilidad{
    display: grid;
    max-width: auto;
    margin: 0;
    grid-gap: 10%;
    grid-template-areas:  "header "
                          "nav nav";
    grid-template-columns: 55% 35%;
    grid-template-rows:  30px 500px ;
}
.utilidad h1{
    grid-area: header;
    font-size: 40px; 
    text-align: center; 
    color:#6fa61c;
}
.descripcion p{
    margin-left: 40px;
    font-size: 20px;
}
.descripcion img{
    width: 25px;
    height: 25px;
}
.imagen p img{
    
    height: 350px;
    width: 70%;
}
.uso{
    display: grid;
    max-width: auto;
    margin: 0;
    grid-gap: 10%;
    grid-template-areas:  "header "
                          "nav nav";
    grid-template-columns: 55% 35%;
    grid-template-rows:  30px 500px ;
}
.uso h1{
    grid-area: header;
    font-size: 40px; 
    text-align: center; 
    color:#6fa61c;
}
.significado p{
    margin-left: 40px;
    font-size: 30px;
    text-align: center;
}
.imagen p img{    
    height: 300px;
    width: 70%;
}

