*{

}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f2f2f2;
}
.logo{
    text-align: left;
    width: 100px;
}
.navegacion{
    width: auto;
    margin: 30px auto;
    background-color: #f2f2f2;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    display: inline-block;
}
.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 50px 60px;
    font-size:large;
    color: #6fa61c;



}

.tcontactanos{
    color:rgb(103, 162, 25);
    text-align: center;
}

.contenedor{
    background-color: rgb(214, 214, 214);
    border-radius: 50px;
    background: #f2f2f2;
box-shadow:  20px 20px 60px #b3b3b3,
             -20px -20px 60px #ffffff;
             margin-right: 5rem;
             margin-left: 5rem;

}

.genial{
    text-align: center;
    background-color: orange;
    border: 2px solid rgb(0, 0, 0);
}
input{
    width: 15rem;
    padding: 1rem;
    border-radius: 25px;
    background: #f2f2f2;
    box-shadow: inset 6px 6px 12px #d7d7d7,
                inset -6px -6px 12px #ffffff;
            border-style: none;
}

footer{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(103, 162, 25);
    text-align: center;
}
.prueba{
    background-color: red;
}
#imgLogo{
    vertical-align:middle;
}